<!-- <ion-header>
  <ion-toolbar>
    <ion-title>local</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-slides pager="true">
    <ion-slide>
      <section id="container">
        <div class="box">
          <div></div>
        </div>
        <h1 id="title">Local businesses near you</h1>
        <p id="subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </section>
    </ion-slide>

    <ion-slide>
      <section id="container">
        <div class="box">
          <div></div>
        </div>
        <h1 id="title">Local businesses near you</h1>
        <p id="subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </section>
    </ion-slide>

    <ion-slide>
       <section id="container">
        <div class="box">
          <div></div>
        </div>
        <h1 id="title">Local businesses near you</h1>
        <p id="subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </section>
    </ion-slide>
    
  </ion-slides>

  <div class="footer">
    <ion-row>
      <ion-col>
        <p>Skip</p>
      </ion-col>
      <ion-col style="text-align: right; padding-top: 5%;">
        <ion-button color="light">Next</ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
