<!-- <ion-header>
  <ion-toolbar>
    <ion-title>local</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="screen">
  <ion-slides pager="true">

    <ion-slide>
      <section id="slider">
        <div class="logo">
          <img src="../../assets/img/logo.svg" alt="logo">
        </div>
        <h1 id="title">Local businesses near you</h1>
        <p id="subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </section>
    </ion-slide>

    <ion-slide>
      <section id="slider">
       <div class="logo">
          <img src="../../assets/img/logo.svg" alt="logo">
        </div>
        <h1 id="title">Local businesses near you</h1>
        <p id="subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </section>
    </ion-slide>

    <ion-slide>
       <section id="slider">
        <div class="logo">
          <img src="../../assets/img/logo.svg" alt="logo">
        </div>
        <h1 id="title">Local businesses near you</h1>
        <p id="subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </section>
    </ion-slide>
    
  </ion-slides>

  <div class="footersection">
    <div class="skipbtn">
      <button>Skip</button>
    </div>

    <div class="nextbtn">
      <!-- <ion-button color="light">Next</ion-button> -->
      <button>Next</button>
    </div>
  </div>
</div>
</ion-content>
