<!-- <ion-header>
  <ion-toolbar>
    <ion-title>otp</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="verification">
    <div class="dot_img">
      <img src="../../assets/img/colours.png" alt="">
    </div>
    <div class="otp">
      <h3>Verify your phone number</h3>
      <p>Enter the 4-digit code sent to you at <span> +917619218720.</span></p>      
      <div id="form">
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
      </div>
    </div>  
    <div class="footer">   
      <p>Didn't get the code? <span>Resend OTP</span></p>
      <ion-button color="light" style="margin-top: 2%;">Next</ion-button>     
    </div>
  </div>
</ion-content>
