<!-- <ion-header>
  <ion-toolbar>
    <ion-title>category</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div id="screen">
    <div class="map_bg"></div>
    <div class="categories_box">

      <form class="search_container">
        <input type="text" id="search-bar" placeholder="What do you want to do today?">
        <a href="#"><img class="search-icon" src="../../assets/img/search.png"></a>    
      </form>  
      
      <ion-slides pager="true">
        <ion-slide>
          <div class="categories_list">
            <div class="categories">
              <div class="images">
                <img src="../../assets/img/c1.png" alt="">
              </div>
              <div>
                <p>Favourites</p>
              </div>         
            </div>
            <div class="categories">
              <div class="images">
                <img src="../../assets/img/c2.png" alt="">
              </div>
              <div>
                <p>Popular</p>
              </div>         
            </div>
            <div class="categories">
              <div class="images">
                <img src="../../assets/img/c3.png" alt="">
              </div>
              <div>
                <p>Today’s Deals</p>
              </div>         
            </div>
            <div class="categories">
              <div class="images">
                <img src="../../assets/img/c4.png" alt="">
              </div>
              <div>
                <p>All Stores</p>
              </div>         
            </div>
            <div class="categories">
              <div class="images">
                <img src="../../assets/img/c5.png" alt="">
              </div>
              <div>
                <p>All Stores</p>
              </div>         
            </div>
            <div class="categories">
              <div class="images">
                <img src="../../assets/img/c6.png" alt="">
              </div>
              <div>
                <p>All Stores</p>
              </div>         
            </div>
            <div class="categories">
              <div class="images">
                <img src="../../assets/img/c7.png" alt="">
              </div>
              <div>
                <p>All Stores</p>
              </div>         
            </div>
            <div class="categories">
              <div class="images">
                <img src="../../assets/img/c8.png" alt="">
              </div>
              <div>
                <p>All Stores</p>
              </div>         
            </div>
          </div>
        </ion-slide>
    
        <ion-slide>
          <div class="categories_list">
            <div class="categories">
              <div class="images">
                <img src="../../assets/img/c1.png" alt="">
              </div>
              <div>
                <p>Favourites</p>
              </div>         
            </div>
            <div class="categories">
              <div class="images">
                <img src="../../assets/img/c2.png" alt="">
              </div>
              <div>
                <p>Popular</p>
              </div>         
            </div>
            <div class="categories">
              <div class="images">
                <img src="../../assets/img/c3.png" alt="">
              </div>
              <div>
                <p>Today’s Deals</p>
              </div>         
            </div>
            <div class="categories">
              <div class="images">
                <img src="../../assets/img/c4.png" alt="">
              </div>
              <div>
                <p>All Stores</p>
              </div>         
            </div>
          </div>
        </ion-slide>
      </ion-slides>

    </div>
  </div>  
</ion-content>
