<!-- <ion-header>
  <ion-toolbar>
    <ion-title>category</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="category">
    <div class="map_bg"></div>
    <div class="categories">
      <form class="search-container">
        <input type="text" id="search-bar" placeholder="What do you want to do today?">
        <a href="#"><img class="search-icon" src="../../assets/img/search.png"></a>    
      </form>
      <div class="categories_list">
        <div class="c1">
          <img src="../../assets/img/c1.png" alt="">
          <p>Favourites</p>
        </div>
        <div class="c2">
          <img src="../../assets/img/c2.png" alt="">
          <p>Popular</p>
        </div>
        <div class="c3">
          <img src="../../assets/img/c3.png" alt="">
          <p>Today’s Deals</p>
        </div>
        <div class="c4">
          <img src="../../assets/img/c4.png" alt="">
          <p>All Stores</p>
        </div>
      </div>
      <div class="categories_list" style="margin-top: 13%;">
        <div class="c1">
          <img src="../../assets/img/c5.png" alt="">
          <p>Shopping</p>
        </div>
        <div class="c2">
          <img src="../../assets/img/c6.png" alt="">
          <p>Services</p>
        </div>
        <div class="c3">
          <img src="../../assets/img/c7.png" alt="">
          <p>Home</p>
        </div>
        <div class="c4">
          <img src="../../assets/img/c8.png" alt="">
          <p>Food</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
