
  /* ----- Ionic -----*/
    ion-slides.md.slides-md.swiper-container.hydrated.swiper-container-initialized.swiper-container-horizontal.swiper-container-android{
      height: 70vw;
    }
  
    .swiper-container-horizontal>.swiper-pagination-bullets{
      bottom: 20%;
    }

  /* ----- Screen Content -----*/
  #screen{
    .map_bg{
      background: url(../../assets/img/map.png);
      background-size: cover;
      height: 100vw;
    }
    .categories_box{
      object-fit: contain;
      box-shadow: 0 -6px 12px 0 rgba(0, 0, 0, 0.1);
      border: solid 1px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      padding: 5vw;
      height: 90vw;
      border-radius: 10px 10px 0px 0px;
      .search_container{
        width: 130vw;
        display: block;
        margin: 0 auto;
      }     
      input#search-bar{
        margin: 0 auto;
        width: 90vw;
        height: 12vw;
        padding: 0 20px;
        font-size: 17px;
        border-radius: 6px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        background-color: #f3f4f5;
        outline: none;
        &:focus{
          border: 1px solid #1a73e8;
          transition: 0.35s ease;
          color: #1a73e8;
          &::-webkit-input-placeholder{
            transition: opacity 0.45s ease; 
            opacity: 0;
           }
          &::-moz-placeholder {
            transition: opacity 0.45s ease; 
            opacity: 0;
           }
          &:-ms-placeholder {
           transition: opacity 0.45s ease; 
           opacity: 0;
           }    
         }
       } 
      .search-icon{
        position: relative;
        float: right;
        height: 7vw;
        top: 2vw;
        right: 45vw;
      }
      .categories_list{
        margin: 7% 3% 0%;
        width: 100vw;
        height: 70vw;
        .categories{   
          width: 16vw;
          height: 20vw;    
          display: inline-block;
          text-align: center;
          margin: 2.5%;
          .images{
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            border-radius: 50%; 
            padding: 4vw; 
          }
          img{
            width: 10vw;
            height: 7vw;
            vertical-align: middle;          
          }
          p{
            font-family: RedHatText;
            font-size: 2.5vw;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.32;
            letter-spacing: 0.4px;
            text-align: center;
            color: #585858;
          }
        }
      }
    }
  }