<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="login_box"> 
    <div class="dot_img">
      <img src="../../assets/img/colours.png" alt="">
    </div>
    <div class="phone_no">
      <h3>What's your phone number?</h3>
      <p>By continuing you may receive an SMS for veriication.
        Message and data rates apply.
      </p>   
      <div class="line">
        <input class="line__input" type="text" onkeyup="this.setAttribute('value', this.value);" value>
        <span class="line__placeholder">Phone Number</span>
      </div>
    </div>  
    <div class="footer">   
      <p>Skip</p>
      <ion-button color="light" style="margin-top: 4%;">Next</ion-button>     
    </div>
  </div>
</ion-content>
