
  .box{
    text-align: center;
    margin:0;
    height: 100%;
  }

  .dot_img{
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
  }

  #svgWrapper {
    display:inline-block;
    cursor:pointer;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
  }

  